.root {
  width: 266px;
  height: 336px;
  position: relative;
  background: rgba(255, 255, 255, 0);
}
.favoritecard {
  width: 256px;
  height: 325px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: rgb(217, 217, 217);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  border: 1px #adadb0 solid;
}
@media (max-width: 500px) {
  .favoritecard{
    width: 70vw;
 
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .favoritecard{
position: absolute;
left: 0vw;
width: 200px;

 }
}
.card-img {
  width: 230px;
  height: 230px;
  left: 15px;
  top: 56px;
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
@media (max-width: 500px) {
  .card-img {
    width: 60vw;
   
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .card-img {

width: 170px;

 }
}
.card-title {
  width: 174px;
  height: 22px;
  left: 22px;
  top: 300px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Inria Serif;
  font-weight: 400;
  line-height: 22px;
  word-wrap: break-word;
  text-align: start;
}
.discount {
  width: 76px;
  height: 21px;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  background: #5c6664;
  box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.19);
  border-radius: 1px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  text-align: center;
  color: white;
  font-size: 14px;
  font-family: Alegreya Sans;
  font-weight: 400;
  line-height: 12px;
  z-index: 1;
  word-wrap: break-word;
  position: relative;
  left: -80px;
  top: 10px;
}
@media (max-width: 500px) {
  .discount {
    width: 20vw;
    position: absolute;
    left: 2vw;
  }
}
