@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


.root {
  width: auto;
  height: 1000px;
  margin: 0;
}
@media (max-width: 500px) {
  .root {
    width: 100vw;
    height: 800px;
    margin: 0;
  }
}
@media screen and (min-width: 1800px) {
  /* Your CSS rules for devices with a minimum width of 1800 pixels */
  .root {
    min-width: 100vw;
  }
}
.header {
  height: 818px;
  width: auto;
  background-repeat: no-repeat;
  background-image: url(/headerback.svg);
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
}

@media (max-width: 500px) {
  .header {
    height: 800px;
    width: auto;
    background-image: url(/headerback.svg);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (min-width: 1800px) {
  .header {
    width: 100vw;
  }
}

.header-big {
  width: 644px;
  height: 128px;
  color: white;
  font-size: 78px;
  font-family: Inria Serif;
  font-weight: 700;
  line-height: 73px;
  word-wrap: break-word;
  position: absolute;
  top: 252px;
  left: 98px;
  text-align: left;
}
@media (max-width: 500px) {
  .header-big {
    width: 80vw;
    height: 37px;
    color: white;
    font-family: Inria Serif;
    font-weight: 700;
    line-height: 73px;
    word-wrap: break-word;
    position: absolute;
    left: 10vw;
    top: 20vw;
    font-size: min(15vw, 70px);
    text-align: center;
  }
}
@media (min-width: 2501px) {
  .header-big {
    width: 50vw;
    font-size: min(10vw, 100px);
    left: 5vw;
  }
}

.header-big1 {
  width: 496px;
  height: 92px;
  color: white;
  font-size: 28px;
  font-family: Inria Serif;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 1.12px;
  word-wrap: break-word;
  position: absolute;
  left: 101px;
  top: 400px;
  text-align: left;
}
@media (max-width: 500px) {
  .header-big1 {
    width: 80vw;
    height: 84px;
    color: white;
    font-family: Inria Serif;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 1.12px;
    position: absolute;
    word-wrap: break-word;
    left: 15vw;
    font-size: min(7vw, 28px);
    top: 300px;
  }
}
@media (min-width: 2501px) {
  .header-big1 {
    width: 40vw;
    font-size: min(10vw, 40px);
    left: 5vw;
  }
}

.header-btn1 {
  width: 211px;
  height: 68px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 49px;
  padding-right: 50px;
  background: #d9d9d9;
  box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.19);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  text-align: center;
  color: black;
  font-size: 24px;
  font-family: Inria Serif;
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
  position: absolute;
  left: 107px;
  top: 510px;
}
@media (max-width: 500px) {
  .header-btn1 {
    position: absolute;
    font-size: min(6vw, 24px);
    left: 20vw;
    top: 450px;
    width: 57vw;
  }
}
@media (min-width: 2501px) {
  .header-btn1 {
    width: 11vw;
    height: 5vh;
    left: 5vw;
    font-size: min(10vw, 40px);
  }
}

.header-btn2 {
  width: 216px;
  height: 68px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 21px;
  padding-bottom: 21px;
  background: black;
  box-shadow: 0px 0px 1px rgba(23, 26, 31, 0.19);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: Inria Serif;
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
  position: absolute;
  left: 362px;
  top: 510px;
}
@media (max-width: 500px) {
  .header-btn2 {
    position: absolute;
    font-size: min(6vw, 24px);
    left: 20vw;
    top: 550px;
    width: 57vw;
  }
}

.feature-prod {
  position: relative;
  left: 11px;
  width: 1000px;
  height: 210px;
  display: flex;
  margin: 1px;
  padding: 1px;
  bottom: 110px;
  background-color: rgba(245, 245, 247, 0);
}
@media (min-width: 1004px) and (max-width: 1300px)  {
  .feature-prod {
    width: 96vw;
    position: relative;
    overflow-x: auto;
    flex-wrap: nowrap;
    height: 401px;
    flex-direction: row;
    overflow-x: hidden;
    left: 1vw;
  }
}
@media (min-width: 1404px) and (max-width: 1500px)  {
  .feature-prod {
    width: 90vw;
    position: relative;
    overflow-x: auto;
    flex-wrap: nowrap;
    height: 401px;
    flex-direction: row;
    overflow-x: hidden;
    left: 5vw;
  }
}
@media (min-width: 2501px) {
  .header-btn2 {
    width: 10vw;
    height: 5vh;
    left: 20vw;
    font-size: min(10vw, 40px);
  }
}
@media (max-width: 500px) {
  .feature-prod {
    position: absolute;
    margin-left: 20vw;
    top: 750px;
    flex-wrap: wrap;
    width: 40vw;
    height: 1000px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .feature-prod {
    width: 40vw;
    top: 750px;
    position: absolute;
    left: -10vw;
  }
}
@media screen and (min-width: 1800px) {
  /* Your CSS rules for devices with a minimum width of 1800 pixels */
  .feature-prod {
    position: relative;
    left: 400px;
    width: 76vw;
  }
}
@media (min-width: 2501px) {
  .feature-prod {
    width: 50vw;
    left: 25vw;
  }
}
.featured-text {
  width: 192px;
  height: 32px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  color: #5d6665;
  font-size: 40px;
  font-family: Inria Serif;
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
  position: relative;
  top: 300px;
  left: 125px;
}

@media (max-width: 500px) {
  .featured-text {
    position: relative;
    top: 300px;
    left: -30px;
  }
}
