.root {
  width: auto;
  height: 300px;
  background-color: #ffffff;

}
@media (max-width: 500px) {
  .root {
    width: 100vw;
    height: 667px;
    position: absolute;
    top: 6700px;
  }
}
.footer-txtunderlogo {
  width: 247px;
  color: black;
  font-size: 20px;
  font-family: Inria Serif;
  font-weight: 400;
  position: absolute;
  line-height: 22px;
  left: 90px;
  word-wrap: break-word;
  top: 114px;
  text-align: left;
}
@media (max-width: 500px) {
  .footer-txtunderlogo {
    position: absolute;
    left: 13vw;
    width: 80vw;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .footer-txtunderlogo {
 position: absolute;
 width: 30vw;
 left: 4vw;

 }
}
.div-fr2 {
  width: 169px;
  height: 53px;
  position: absolute;
  left: 390px;
  top: 70px;
}
@media (max-width: 500px) {
  .div-fr2 {
    position: absolute;
    left: 28vw;
    top: 230px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .div-fr2 {
 position: absolute;

 left: 40vw;

 }
}
@media screen and (min-width: 1800px) {
  .div-fr2 {
    position: absolute;
    left: 700px;
     
  }
}
.div-fr3 {
  width: 207px;
  height: 99px;
  position: absolute;
  left: 684px;
  top: 70px;
}
@media (min-width: 700px) and (max-width: 900px) {
  .div-fr3 {
 position: absolute;
 display: none;
 left: 60vw;

 }
}
@media screen and (min-width: 1800px) {
  /* Your CSS rules for devices with a minimum width of 1800 pixels */
  .div-fr3 {
    position: relative;
    bottom: 50px;
    left: 1200px;
     
  }
}
@media (max-width: 500px) {
  .div-fr3 {
    position: absolute;
    left: 24vw;
    top: 380px;
  }
}
@media (min-width: 1024px) {
  .div-fr3 {
    position: absolute;
    left: 55vw;
    top: 65px;
  }
}
.div-fr4 {
  width: 202px;
  position: absolute;
  height: 80px;
  left: 977px;
  top: 72px;
}
@media (min-width: 700px) and (max-width: 900px) {
  .div-fr4 {

position: absolute;
left: 66vw;
 }
}
@media (min-width: 1024px) {
  .div-fr4 {
    position: absolute;
    left: 76vw;
  }
}
@media screen and (min-width: 1800px) {
  /* Your CSS rules for devices with a minimum width of 1800 pixels */
  .div-fr4 {
      position: relative;

      left: 87vw;
     
  }
}
@media (min-width: 2501px) {
  .div-fr4 {
    position: relative;

    left: 87vw;
  }
}
@media (max-width: 500px) {
  .div-fr4 {
    position: absolute;
    left: 24vw;
    top: 540px;
  }
}

.footer-logo {
  width: 336px;
  height: 71px;
  left: 35px;
  top: 10px;
  position: absolute;
}
@media (max-width: 500px) {
  .footer-logo {
    width: 80vw;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .footer-logo {
 position: absolute;
 width: 40vw;
 left: 4vw;

 }
}
.studio-footer {
  color: #171a1f;
  font-size: 24px;
  font-family: Inria Serif;
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
}
.foote-fr2-subtext {
  color: black;
  font-size: 20px;
  font-family: Inria Serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  margin-top: 20px;
}
.footer-fr3-heading {
  color: #171a1f;
  font-size: 24px;
  font-family: Inria Serif;
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
}

.footer-fr3-subtext {
  width: 207px;
  color: black;
  font-size: 20px;
  font-family: Inria Serif;
  font-weight: 400;
  margin-top: 20px;
  line-height: 20px;
  word-wrap: break-word;
}

.footer-fr4-heading {
  color: #171a1f;
  font-size: 24px;
  font-family: Inria Serif;
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
}
.footer-firstimg {
  width: 38px;
  height: 25px;
  border-radius: 2px;
  position: absolute;
  top: 44px;
  left: 50px;
}

.text-payment {
  color: #171a1f;
  font-size: 20px;
  font-family: Alegreya Sans;
  width: 56px;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  position: absolute;
  left: 130px;
  top: 45px;
}
.footer-secondimg {
  height: 43px;
  position: relative;
  left: 5px;
  top: 15px;
}
.copyright-1 {
  width: 430px;
  position: absolute;
  top: 255px;
  left: 400px;
}
@media (max-width: 500px) {
  .copyright-1 {
    position: absolute;
    left: 5vw;
    top: 700px;
    width: 90vw;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .copyright-1 {
position: absolute;
left: 1vw;
text-align: center;
width: 98vw;
 }
}
@media screen and (min-width: 1800px) {
  .copyright-1 {
    position: absolute;
    left: 700px;
     
  }
}
